@import url('https://fonts.googleapis.com/css2?family=Jim+Nightshade&display=swap');

body {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.575), rgba(98, 5, 114, 0.54)), url(Images/blurred-cardio-machines.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    font-family: 'Jim Nightshade', cursive;

}


ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: rgba(9, 119, 162, 0.721);
    position: fixed;
    height: 100%;
    overflow: auto;
    border-right: 2px solid rgb(7, 149, 85);
}

.logo {
    transform: scaleX(-1);
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: 0;
}

h1 {
    background-color: rgb(23, 157, 202);
    border-radius: 20px;
    text-shadow: 5px 5px 10px rgba(98, 5, 114, 0.54);
    color: rgb(7, 149, 85);
    font-size: 5rem;
    text-align: center;
    letter-spacing: 5px;
    margin: 5% 10% 10% 0%;
}

li {
    margin-top: 30px;
}

li a {

    font-size: 3rem;
    color: rgb(111, 7, 149);
    padding: 25px;
    text-decoration: none;
}

table {
    text-align: justify;
    background-color: purple;
    border-radius: 2em;
    padding: 10px;
    font-size: 20px;
}

.tablehead {

    text-align: center;
    padding-bottom: 5%;
    font-size: 50px;
}

td {
    background-color: ivory;
    padding: 10px 30px 10px 5px;
    border: solid;
    border-collapse: collapse;


}

fieldset {
    background-color: purple;
    font-size: 1.3rem;

}

article {
    border-radius: 2em;
    background-color: ivory;
    margin-right: 20%;
    padding: 20px;
    font-size: 1.5rem;
    z-index: 20;
}

.frontimg {
    position: absolute;
    margin-left: 50%;
    margin-top: -15%;
    width: 400px;
    z-index: -1;
}

img:not(.frontimg) {
    display: inline;
}

h3 {
    text-align: center;
}

legend {
    font-size: 2rem;
    color: rgb(23, 157, 202);
}

.commenttex {
    width: 75%;
    height: 100px;

}